In [1]:
# https://towardsdatascience.com/interactive-controls-for-jupyter-notebooks-f5c94829aee6
import pandas as pd
import seaborn as sns
import statsmodels
import statsmodels.formula.api as smf
import patsy
import os
import matplotlib.pyplot as plt
%matplotlib inline

import ipywidgets as widgets
from ipywidgets import HBox, VBox, interact, interact_manual
import numpy as np
from IPython.display import display
import cufflinks as cf

/anaconda3/lib/python3.7/site-packages/plotly/graph_objs/_deprecations.py:558: DeprecationWarning:

plotly.graph_objs.YAxis is deprecated.
Please replace it with one of the following more specific types
  - plotly.graph_objs.layout.YAxis
  - plotly.graph_objs.layout.scene.YAxis


/anaconda3/lib/python3.7/site-packages/plotly/graph_objs/_deprecations.py:531: DeprecationWarning:

plotly.graph_objs.XAxis is deprecated.
Please replace it with one of the following more specific types
  - plotly.graph_objs.layout.XAxis
  - plotly.graph_objs.layout.scene.XAxis

### PM2.5 Data

In [2]:
pm25 = pd.read_csv("Class_PM25_Data.csv")
pm25 = pm25.dropna()
pm25

    Block_Group_ID   Income    Elevation  PM25_MAR_8
0     4.903510e+11  43646.0  1307.687012    3.651442
1     4.903510e+11  35775.0  1296.852051    3.840161
2     4.903510e+11  38281.0  1289.720459    3.957534
3     4.903510e+11  64091.0  1301.926758    3.945700
4     4.903510e+11  37083.0  1296.852051    3.648757
5     4.903510e+11  21500.0  1301.860962    4.565435
6     4.903510e+11  41154.0  1321.069824    3.173814
7     4.903510e+11  33772.0  1321.069824    3.751625
8     4.903510e+11  37566.0  1321.069824    3.659221
9     4.903510e+11  33438.0  1410.462280    3.562500
10    4.903510e+11  24034.0  1352.378174    3.452457
11    4.903510e+11   7941.0  1410.462280    3.490519
12    4.903510e+11  29844.0  1363.379150    3.738308
13    4.903510e+11  17833.0  1363.379150    3.124819
14    4.903510e+11  41667.0  1363.379150    3.360178
15    4.903510e+11  32452.0  1324.700195    4.012285
16    4.903510e+11  34583.0  1324.700195    3.883058
17    4.903510e+11  32500.0  1324.700195    3.423729
18    4.903510e+11  26667.0  1324.700195    3.696211
19    4.903510e+11  19135.0  1310.390137    4.080429
20    4.903510e+11  32444.0  1301.860962    3.811173
21    4.903510e+11  30326.0  1301.860962    5.432379
22    4.903510e+11  26875.0  1295.940796    3.989217
23    4.903510e+11  32167.0  1289.893799    4.787936
24    4.903510e+11  23636.0  1302.235352    3.795578
25    4.903510e+11  23804.0  1300.055786    4.249092
26    4.903510e+11  26324.0  1294.430908    4.401813
27    4.903510e+11  37250.0  1290.085449    4.809583
28    4.903510e+11  33295.0  1291.912109    3.505779
29    4.903510e+11  17500.0  1291.912109    3.738520
..             ...      ...          ...         ...
34    4.903510e+11  36616.0  1316.374634    2.548064
35    4.903510e+11  48995.0  1304.054932    2.800728
36    4.903510e+11  37604.0  1303.677490    2.437500
37    4.903510e+11  56172.0  1402.824585    1.406767
38    4.903510e+11  70043.0  1402.824585    1.749048
39    4.903510e+11  66193.0  1402.824585    1.452167
40    4.903510e+11  71771.0  1352.061768    1.615929
41    4.903510e+11  55912.0  1379.241943    2.485638
42    4.903510e+11  62034.0  1325.755859    1.706022
43    4.903510e+11  73141.0  1356.056274    1.597851
44    4.903510e+11  45664.0  1382.777832    2.455689
45    4.903510e+11  93841.0  1459.374756    1.400000
46    4.903510e+11  85438.0  1454.270020    2.016352
47    4.903510e+11  73140.0  1450.543457    1.352491
48    4.903510e+11  47500.0  1402.824585    1.382470
49    4.903510e+11  78300.0  1422.806519    1.277662
50    4.903510e+11  79241.0  1450.543457    1.340553
51    4.903510e+11  79524.0  1422.806519    1.328252
52    4.903510e+11  42201.0  1289.318970    5.579777
53    4.903510e+11  39534.0  1291.039795    4.402230
54    4.903510e+11  22607.0  1294.049683    4.388888
55    4.903510e+11  44444.0  1294.049683    3.692419
56    4.903510e+11  55638.0  1294.049683    3.164319
57    4.903510e+11  51378.0  1301.030884    3.424324
58    4.903510e+11  24348.0  1295.383911    2.332639
59    4.903510e+11  35375.0  1305.029541    3.595146
60    4.903510e+11  69188.0  1321.630859    4.409883
61    4.903510e+11  69493.0  1312.114014    3.989309
62    4.903510e+11  92551.0  1557.853394    1.537066
63    4.903510e+11  60817.0  1552.666016    2.252555

[64 rows x 4 columns]

In [6]:
# use interact to filter the dataframe
@interact
def show_more_than(column=['Income', 'Elevation'], 
                            x=(10, 100000, 10)):
    return pm25.loc[pm25[column] > x]

interactive(children=(Dropdown(description='column', options=('Income', 'Elevation'), value='Income'), IntSlid…

In [7]:
# use interact to print the correlation between two columns
@interact
def correlations(column1=list(pm25.columns)[1:],
                column2=list(pm25.columns)[1:]):
    print(f"Correlation: {pm25[column1].corr(pm25[column2])}")

interactive(children=(Dropdown(description='column1', options=('Income', 'Elevation', 'PM25_MAR_8'), value='In…

In [8]:
# quick linear regression
@interact
def regression(X=list(pm25.columns)[1:],
                y=list(pm25.columns)[1:]):
    mod = smf.ols(formula='pm25[X] ~ pm25[y]', data=pm25)
    res = mod.fit()
    print(res.summary())

interactive(children=(Dropdown(description='X', options=('Income', 'Elevation', 'PM25_MAR_8'), value='Income')…

In [6]:
# quick scatter plot - why is this broken? - keep nteract instead?
@interact
def scatter_plot(x=list(pm25.select_dtypes('number').columns), 
                 y=list(pm25.select_dtypes('number').columns)[1:]):
    
    pm25.iplot(kind='scatter', x=x, y=y, mode='markers', 
             xTitle=x.title(), yTitle=y.title(), 
             text='title',
             title=f'{y.title()} vs {x.title()}')

interactive(children=(Dropdown(description='x', options=('Block_Group_ID', 'Income', 'Elevation', 'PM25_MAR_8'…

### Ozone Data

In [8]:
ozone = pd.read_csv("Class_Ozone_Data.csv")
ozone = ozone.dropna()
ozone.head()

   Block_Group_ID   Income    Elevation  Ozone_AUG_10  Ozone_AUG_15
0    490351001002  43646.0  1307.687012     27.557288     52.544356
1    490351003061  35775.0  1296.852051     26.284309     54.727856
2    490351003062  38281.0  1289.720459     27.685072     52.711770
3    490351006003  64091.0  1301.926758     27.599777     53.070810
4    490351006004  37083.0  1296.852051     28.802653     55.096362

In [10]:
@interact
def correlations(column1=list(ozone.columns)[1:],
                column2=list(ozone.columns)[1:]):
    print(f"Correlation: {ozone[column1].corr(ozone[column2])}")

interactive(children=(Dropdown(description='column1', options=('Income', 'Elevation', 'Ozone_AUG_10', 'Ozone_A…

In [9]:
@interact
def regression(X=list(ozone.columns)[1:],
                y=list(ozone.columns)[1:]):
    mod = smf.ols(formula='ozone[X] ~ ozone[y]', data=ozone)
    res = mod.fit()
    print(res.summary())

interactive(children=(Dropdown(description='X', options=('Income', 'Elevation', 'Ozone_AUG_10', 'Ozone_AUG_15'…